
<Reveal @label="From a spritesheet (FontAwesome)" @open={{true}}>
  <Table @name="brands_ember" @group="fa-brand" />
</Reveal>

<Reveal @label="SVG as components">
  <Table as |Row|>
    <Row @name="example-a/component-a" @group="sample-components" />
    <Row @name="example-a/component-b" @group="sample-components" />
    <Row @name="example-a/component-c" @group="sample-components" />
  </Table>
</Reveal>
